<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title></title>
</head>
<body>
  <header>
    <div class="contain">
      <div class="top">
        <div class="logo">
        <a href="home.html">
          <img src="../images/logo.png" alt="logo">
          <span class="text">
              <p>phòng khám chuyên khoa</p>
              <p>Vật lý trị liệu - Phục hồi chức năng</p>
          </span> 
        </a>
      </div>
        <div class="hotline">
          <img src="../images/call.png">
          <span class="hotline_text">Câu hỏi cho bác sĩ?<mark>05113941 977</mark></span>
        </div>
        </div>
    </div> 
    <div class="bottom">
      <div class="parent-contain">
        <div class="contain">  
        <nav class="menu-nav">
          <ul class="menu">
            <li><a href="">Trang chủ   </a></li>
            <li><a href="">Giới thiệu   </a></li>
            <li><a href="">Dịch vụ y tế </a></li>
            <li><a href="">Y học thường thức    </a></li>
            <li><a href="">Đặt lịch khám  </a></li>
            <li><a href="">Tư vấn & liên hệ</a></li>
          </ul>
        </nav>
        <div class="social-header">
          <a href="/a">
            <img src="../images/facebook.png">
          </a>
          <a href="/a">
            <img src="../images/google.png">
          </a>
          <a href="/a">
            <img src="../images/youtube.png">
          </a>
        </div>
      </div>
      </div>  
      <div class="banner">
        <div class="contain contain-breadcrumb">
          <ul class="breadcrumb">
            <li><a href="">Trang chủ  </a></li>
            <li><a href=""> Dịch vụ y tế  </a></li>
          </ul>
        </div>  
      </div> 
    </div>
  </header>
    <main>
      <aside id="sidebar">
        <div id = "menu-adults" class="box">
          <span class="title-box">
            Người lớn
          </span>
          <span class="icon">
          </span>
          <ul class="menu-aside">
            <li><a href="">Đau cổ-vai-tay</a></li>
            <li><a href="">Đau cột sống</a></li>
            <li><a href="">Thoát vị đĩa đệm</a></li>
            <li><a href="">Khớp gối, khớp hông</a></li>
            <li><a href="">Đau chân</a></li>
            <li><a href="">Các bênh về cơ</a></li>
            <li><a href="">Thần kinh ngoại biên</a></li>
            <li><a href="">Di chứng tai biến mạch máu não</a></li>
            <li><a href="">Di chứng chấn thương</a></li>
          </ul>
        </div>
        <div id = "menu-children" class="box">
          <span class="title-box">Trẻ em</span> 
          <ul class="menu-aside">
            
          </ul>
        </div>
        <div id= "book-form" class="book-form box">
          <h2>Đặt lịch khám</h2> 
          <hr>  
          <form>
            <input type="text" name="full-name" placeholder="Họ & Tên">
            <input type="text" name="address" placeholder="Địa chỉ">
            <input type="text" name="phone" placeholder="Số điện thoại">
            <input type="datetime" name="time" placeholder="Thời gian">
            <input type="submit" name="submit" value="Đặt lịch" class="button">
          </form>
        </div>
      </aside>
        <div class="content">
          <ul class="list-item">
            <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_1.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_2.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_3.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_4.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li> 
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_5.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_6.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                <img src="../images/news_7.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                  <img src="../images/news_8.png">
              </a>
            </div>
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Loẻm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
               <div class="arrow-link">
              <img src="../images/arrow_right.png">
            </div>
            </a>
          </li>
          <li class="item">
            <div class="img-news">
              <a href="">
                  <img src="../images/news_9.png">
              </a>
            </div>  
            <div class="descript">
              <div class="title">
                <a href="">Đau cổ vai tay</a>
              </div>
              <div class="text-descript"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p></div>
            </div>
            <a href="">
              <div class="arrow-link">
                <img src="../images/arrow_right.png">
              </div>
            </a>
          </li> 
          </ul> 
        </div>
    </main>
    <footer>
      <div class="contain">
        <div class="footer-top">
        <div class="infomation">
          <span class="title-footer">Về phòng khám</span>
          <ul>
            <li>Giới thiệu chung</li>
            <li>Nhân lực</li>
            <li>Trang thiết bị và cở sở vật chất</li>
          </ul>
        </div>
        <div class="infomation">
          <span class="title-footer">Hỗ trợ</span>  
          <ul>
            <li>Tư vấn sức khỏe</li>
            <li>Y học thường thức</li>
            <li>Đặt lịch khám</li>
          </ul>
        </div>
        <div class="infomation">
          <span class="title-footer">Kết nối xã hội </span>
          <ul class="social-ul">
            <li>
              <img src="../images/facebook2.png">
              <span>facebook</span>
            </li>
            <li>
              <img src="../images/google2.png">
              <span>google</span>
            </li>
            <li>
              <img src="../images/youtube2.png">
              <span>youtube</span>
            </li>
          </ul>
        </div>
        </div>
       
        <div class="copyright">
          <div class="left">@2015- Bản quyền thuộc về phòng khám chuyên khoa</div>
          <div class="right">Phát triển bởi nhattrung</div>
        </div>
      </div>
      </div>
    </footer>
</body>
</html>
