$green: #4bbc56;
$primary-color: #62c6f8;
$dark-gray: #8e8e8e;
$light-gray: #e9e9e9;
$lighter-gray: #ebebeb;
$light-blue: #4cc1fc;
$darkest-gray: #30393f;
$darker-gray: #868e92;
$dark-black: #0d1d25;
$lavender: #d9e4e9;
$darkest-black: #282828;
$darkish-white: #81d1f9;
$avo: 'Conv_UTM Avo';
$avo-bold: 'Conv_UTM AvoBold';
$contain-width: 1240px;